# Dependencies
node_modules/
server/node_modules/

# Build outputs
dist/
server/dist/

# Environment variables
.env
.env.local
.env.production
server/.env
server/.env.local

# Logs
*.log
npm-debug.log*
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.cache/
.parcel-cache/

# Optional
package-lock.json
docs/

# Prisma
server/prisma/migrations/*.sql
